/* #log {
    max-height: 40em;
    overflow: scroll;
} */

#log p {
    background-color: black;
    color: white;
    font-family: monospace;
    margin: 0;
    padding: 0.1em 0.5em;
}

#log p::before {
    content: "> ";
}

img#logo {
    height: 1.5em;
    margin-right: 0.5em;
}